.footer {
  text-align: center;
  padding: 40px 0;
  color: #aaa;
  font-size: 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  margin-top: 80px;
  font-family: "Poppins", sans-serif;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 15px;
}

.socials img {
  opacity: 0.8;
  transition: 0.25s;
  cursor: pointer;
}

.socials img:hover {
  opacity: 1;
  transform: scale(1.12);
}
